/* General page styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    background-image: url('assets/logo.png');
    background-size:auto;
}

/* Container for the entire component */
.admin-container {
   
    max-width: 1500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #444;
}

/* Style the login form */
form {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #0056b3;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

    button:hover {
        background-color: #004494;
    }

/* Tab styling */
.tab-buttons {
    margin-bottom: 20px;
}

    .tab-buttons button {
        background-color: #e7e7e7;
        margin-right: 5px;
    }

        .tab-buttons button.active {
            background-color: #007bff;
            color: white;
        }

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f8f8;
}

tr:hover {
    background-color: #f2f2f2;
}

/* Error message */
.error-message {
    color: #d9534f;
    margin: 10px 0;
}

.floating-panel-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the overlay is above other content */
}

.floating-panel {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Drop shadow effect */
}
